[flake8]
# Recommend matching the black line length (default 88),
# rather than using the flake8 default of 79:
max-line-length = 88


exclude =
    venv/
    .github
    .git
    build
    dist
    migrations
    __pycache__
    manage.py
    settings.py
    env
    .env
    ./env
    env/
    .env/

extend-ignore =
    E203,
    E231,
    E501,
    F841,